{% for page in pageview.iter_frontpage_pages %}

	<h1 id="cms_frontpage" style=" margin-bottom: 0px; "><a href="{{page.get_absolute_url}}" style="font-size: 18px;color: #4367DE; font-weight:bold;">{{page.title}}</a></h1>
	<div>{{page.date_created}}</div>
	<p>
	{{page.introduction | truncatewords_html:90}} [<a href="{{page.get_absolute_url}}" style="color: #4367DE">read more</a>]
	{% if show_edit %}
	[<a href="{{entry.get_absolute_url}}?action=edit" style="color: #4367DE">edit</a>]
	{% endif%}
	</p>
	</br>
{% endfor %}