<div class="row-fluid">
	<div class="span10">
		<form class="form" action="features.html" method="get">
			<div class="row-fluid">		
				<div  class="span4" ><span style="float: right;">Page Header Title</span></div>
				<div class="span8" ><input id="PAGE_HEADER_TITLE" type="text" placeholder="Name" class="input-block-level"></div>
			</div>
						
			<div class="row-fluid">	
				<div id="DATE_SUBMITTED" class="span4"><span style="float: right;">Date Submitted</span></div>	
				<div class="span8">
					<input type="text" value="{{pageview.date_created_str}}" id="DATE_SUBMITTED_PICKER" >
					<input type="text" id="TIME_SUBMITTED_PICKER" type="text" class="time" value="{{pageview.hour_created_str}}"/>
				</div>
						
			</div>
		
			<div class="row-fluid">	
				<div id="DATE_MODIFIED" class="span4"><span style="float: right;">Date Modified</span></div>	
				<div class="span8">
					<input type="text" value="{{pageview.date_modified_str}}" id="DATE_MODIFIED_PICKER" >
					<input type="text" id="TIME_MODIFIED_PICKER" type="text" class="time" value="{{pageview.hour_modified_str}}"/>
				</div>
			</div>
		
			<div class="row-fluid">		
				<div id="META_HEADER" class="span4"><span style="float: right;">META Description</span></div>
				<div class="span8"><textarea rows="6" id="META_HEADER" class="input-block-level">{{pageview.introduction}}</textarea></div>
			</div>
										
		</form>
					
		<div class="row-fluid">
			<div class="span2"></div>
			<div class="span2">
				<span><button id="PAGE_META_BUTTON" type="submit" class="btn btn-primary">Submit</button></span>
			</div>
		<div class="span8">
						    
		<div id="PAGE_META_MSG"> </div>						
	</div>
</div>
			
	</div>	<!-- End span10-->		
		
	<div class="span2"></div>
</div> 


<script src="/static/yacms/datepicker/js/jquery.plugin.js"></script>
<script src="/static/yacms/datepicker/js/jquery.datepick.js"></script>
<script type="text/javascript" src="/static/yacms/timepicker/jquery.mousewheel.min.js"></script> 
<script type="text/javascript" src="/static/yacms/timepicker/jquery.timeentry.js"></script>



$(function() {
	$('#DATE_MODIFIED_PICKER').datepick({dateFormat: 'yyyy-mm-dd'});
	$('#inlineDatepicker').datepick({onSelect: showDate});
});



$(function() {
	$('#DATE_SUBMITTED_PICKER').datepick({dateFormat: 'yyyy-mm-dd'});
	$('#inlineDatepicker').datepick({onSelect: showDate});
});

function showDate(date) {
	alert('The date chosen is ' + date);
}



$(function () {

    $("#TIME_SUBMITTED_PICKER").timeEntry({show24Hours: true, showSeconds: false});
    $("#TIME_MODIFIED_PICKER").timeEntry({show24Hours: true, showSeconds: false});
   
});


</script>