<table id="CreateTable" class="table table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th>Path</th>
              <th>Published</th>
            </tr>
          </thead>
          <tbody>

          <% for (var x=0 ; x < cmsentry_objects.length; x++) { %>
          <tr>
              <td><%= cmsentry_objects[x]["title"] %></td>
              <td><a href="/cms<%= cmsentry_objects[x].path %>">/cms<%= cmsentry_objects[x].path %></a></td>
              <td><a href="/cms/sysadmin/linux">Edit</a></td>
          </tr>
        
          <% }%>
        
  </tbody>
</table>