<div id="<%= span_lsug %>" class="input-append date">
          <input data-format="dd/MM/yyyy hh:mm:ss" id="<%= created_datetime_field_slug %>" type="text"></input>
          <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
</div>
<div id="created_datetime_save_button" class="input-append date_button">
          <span class="add-on"><i id="icon_save" class="icon-save"></i><span>Save</span></span>
</div>
