
.
..
configuration.mk
Dockerfile
.dockerignore
.git
.gitattributes
.gitignore
Makefile
make-includes
mycms.egg-info
mycms.wpr
mycms.wpu
package-lock.json
postgres.txt
requirements-latest.txt
setup.cfg
static_root
test.txt
todo.txt
tutorial.txt
wingide.wpr
wingide.wpu
