arrow
beautifulsoup4
defusedxml
django
django-filter
django-haystack
djangorestframework
loremipsum
oauthlib
pathlib
Pillow
Pygments
PyJWT
python-creole
python-dateutil
python-social-auth
python3-openid
requests
requests-oauthlib
sh
simplejson
six
Whoosh
