{% extends "base.html" %}
{% load staticfiles %}

{% block TITLE%} {{view_object.title}}{% endblock TITLE %}
{% block BODY_TITLE%} {{view_object.title}}{% endblock BODY_TITLE %}
{

 {% block INNERBLOCK %} 
<div class="row-fluid">

{{view_object.html_content | safe}}

{% comment %} 
Here starts the main view for the article. non logged in
{% endcomment%}



    <div class="cmsentries">   
      {% for article in view_object.articles %}
      <h1>An Article</h1>
        <div class="cmsentry">
            <h2 class="cmsentry title"><a href="/cms/{{article.path}}">{{article.title}}</a></h2>
            <span id="span_{{article.slug}}" onclick="datetime_editor_click_handler(this)" slug="{{article.slug}}" article_id={{article.page_object.id}}>{{article.created_timestamp_str}}</span>  
            <span id="{{article.slug}}" article_id={{article.id}}></span>
           
            <p style="display: inline">{{ article.introduction|safe|truncatewords_html:50 }}</p>
        </div>
        {% endfor %}
    </div>  
      
  
</div>
{% if view_object.request.user.username == "admin" %}

<div class="row-fluid">
<form class="form" id="createpage_form">
    <div class="col-sm-4"><input id="createpage_title" type="text" placeholder="title"  class="form-control" ></div>
    <div class="col-sm-4"><input id="createpage_slug" type="text" placeholder="slug"  class="form-control" ></div>
    <div class="col-sm-2"><select id="createpage_pagetype_select" type="text" class="form-control">
    {% for page_type in view_object.page_types %}
    <option value={{page_type.page_type}}>{{page_type}}</option>
    {%endfor%}
    </select></div>
    <div class="col-sm-2"><button class="btn btn-primary" type="button" style="height: 40px;" id="createpage_button">Create Page</button></div>       
</form> 
</div>


  <div id="notifications"></div>
  <div id="category_table"></div>
  {% endif %}
 </div>
 
<p>CategoryPage.html</p>
<p>{{view_object.request.user.username}}
{% endblock INNERBLOCK %} 

{% block SCRIPTS %}

<!-- SCRIPTS -->
{% if view_object.request.user.username == "admin" %}

    <script src="{% static "ejs/ejs.js" %}"></script>   
    <script src="{% static "yacms/js/yacms.js" %}"></script>
    <script src="{% static "yacms/bootstrap-datetimepicker-0/js/bootstrap-datetimepicker.min.js" %}">
    <script type="text/javascript" src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js"></script>
{% endif %}  
  
<!-- End of SCRIPTS-->
{% endblock SCRIPTS %}
    
