{% extends "cmsbase.html" %}

{% block HEADER_LINKS %}
	<link href="/static/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="/static/yacms/datepicker/css/jquery.datepick.css" rel="stylesheet">
	
    <link rel="stylesheet" type="text/css" href="/static/yacms/timepicker/jquery.timeentry.css"> 
    
    <!-- Start jQuery-File-Upload-9.8.0 -->
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/static/yacms/mediauploader/css/jquery.fileupload.css">
    <link rel="stylesheet" href="/static/yacms/mediauploader/css/jquery.fileupload-ui.css">
     <!-- End jQuery-File-Upload-9.8.0 -->
   
{% endblock HEADER_LINKS %}

{% block META_DESCRIPTION %}
    {{pageview.meta_description}}
{% endblock META_DESCRIPTION %}

{% block TITLE %}
     {{pageview.title}}
{% endblock TITLE %}


{% block ENTRYTITLE %}
    {{pageview.title}}
{% endblock ENTRYTITLE%}


{%block BREADCRUMBS %}
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    {% for each in pageview.iter_parent_pages %}
        <li><a href={{each.get_absolute_url}}>{{ each.title }}</a><span class="divider">/</span></li>
    {% endfor %}
    {% if allowed_edit %}
        <li><a href="{{each.get_absolute_url}}?action=edit">&nbsp;[edit]</a></li>
    {% endif %}
{%endblock BREADCRUMBS %}


{% block INNERBLOCK %}
<div id="CONTENT">
{{pageview.html | safe}}
</div>


<div class="row-fluid">

    <div class="span12">
	<div id="TOGGLE_EDITOR"><div class="icon-wrench"> Edit</div></div>
    </div>
</div>

<script src="/static/js/jquery.cookie.js"></script>
<div class="row-fluid" id="EDITOR_DIV">

    <div class="span12">
        <!-- Tabs -->
        <h2>Tabs</h2>
        <div class="tabbable"> <!-- Only required for left/right tabs -->
            <ul class="nav nav-tabs">
				<li class="active"><a href="#tab1" data-toggle="tab">Edit Page</a></li>
				<li class=""><a href="#tab2" data-toggle="tab">Edit Page Data</a></li>
				<li class=""><a href="#tab3" data-toggle="tab">Upload Files</a></li>
            </ul>
	    
            <div class="tab-content">
				<div class="tab-pane active" id="tab1">
					{% load yacms_tags %}	
					{% content_editor_node %}			
				</div>
			
				<div class="tab-pane" id="tab2">		    
					{% meta_editor_node %}
				</div>
			
	    
				<div class="tab-pane" id="tab3">
					{% image_uploader_node %}	
				</div>
		</div>							
        <!-- Tabs end -->				
	</div><!-- End span12-->


</div> <!-- End row-fluid -->



</div><!-- End of the very first div-->

{% endblock INNERBLOCK %}



{% block SCRIPT %}

<script src="/static/yacms/js/yacms.js"></script>

</script>
{% endblock SCRIPT %}
