{% extends "base.html" %}
{% load staticfiles %}

{%block HEAD %} 
<!-- link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" -->

{%endblock HEAD %}

{% block TITLE%} {{view_object.title}}{% endblock TITLE %}
{% block BODY_TITLE%} {{view_object.title}}{% endblock BODY_TITLE %}




{% block MAIN_CONTAINER_BLOCK %}
<div class="row-fluid ">
  <div id="page_body">
    {{view_object.html_content | safe }}
  </div>
  <hr/> 
</div>

<div class="row-fluid">

<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
      <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div id="page_editor" class="page_editor_header">
            <div class="row-fluid">
                <table>
                  <tbody>
                    <tr>
                      <td>
                          <div id="button_save" class="editor_button"><i id="icon_save" class="icon-save"></i> <span>Save Page</span></div>
                      </td>
                      <td>
                          <div id="button_frontpage" class="editor_button"><i id="icon_frontpage" class="icon-check"></i><span>Frontpage</span></div>
                      </td>
                      <td>
                          <div id="button_published" class="editor_button"><i id="icon_published" class="icon-check"></i><span>Publish</span></div>
                      </td>	
                      <td>
                          <div id="button_lorem_ipsum" class="editor_button"><i id="icon_paste" class="icon-paste"></i><span>Paste</span></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>            
            <div class="row-fluid">
              <div class="span12">
                <textarea id="page_editor_textarea" rows="40" placeholder="Message" class="span12"></textarea>
              </div>
            </div> 
        </div>
      </div>
      <div class="tab-pane" id="tab2">
        <p> Duis cursus nulla sit amet mi mattis iaculis. Duis dictum ultrices lacus vel sollicitudin. Mauris mattis facilisis ipsum sed venenatis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
  </div>
</div>


<div class="row-fluid">
  <div class="span12">
    
  </div>
</div>
{% endblock MAIN_CONTAINER_BLOCK %}

{% block SCRIPTS_BLOCK %}

  {% verbatim %}
  
  {% endverbatim%}

<script src="{% static "ejs/ejs.js" %}"></script>
<script src="{% static "yacms/js/page_editor.js" %}"></script>


  <!--<script>-->
  <!--$(function() {-->
    <!--$( "#tabs" ).tabs();-->
  <!--});-->
  <!--</script>-->
{% endblock SCRIPTS_BLOCK %}
    