{% extends "base.html" %}
{% load staticfiles %}

{%block HEAD %} 
<link rel="stylesheet" href="/static/yacms/css/pygments-colorful.css" >
<link rel="stylesheet" href="/static/yacms/bootstrap-datetimepicker-0/css/bootstrap-datetimepicker.min.css" >

{%endblock HEAD %}

{% block TITLE%} {{view_object.title}}{% endblock TITLE %}
{% block BODY_TITLE%} {{view_object.title}}{% endblock BODY_TITLE %}




{% block MAIN_CONTAINER_BLOCK %}
<div class="row-fluid ">
  <div id="page_body">
    {{view_object.html_content | safe }}
  </div>
  <hr/> 
</div>


{% if view_object.request.user.username == "admin" %}
<div class="row-fluid">



<div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Page Editor</a></li>
      <li><a href="#tab2" data-toggle="tab">Meta Editor</a></li>
      <li><a href="#tab3" data-toggle="tab">Image Tools</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <div id="page_editor" class="page_editor_header">
            <div class="row-fluid">
                <table>
                  <tbody>
                    <tr>
                      <td>
                          <div id="button_save" class="editor_button"><i id="icon_save" class="icon-save"></i> <span>Save Page</span></div>
                      </td>
                      <td>
                          <div id="button_frontpage" class="editor_button"><i id="icon_frontpage" class="icon-check"></i><span>Frontpage</span></div>
                      </td>
                      <td>
                          <div id="button_published" class="editor_button"><i id="icon_published" class="icon-check"></i><span>Publish</span></div>
                      </td>	
                      <td>
                          <div id="button_lorem_ipsum" class="editor_button"><i id="icon_paste" class="icon-paste"></i><span>Paste</span></div>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>            
            <div class="row-fluid">
              <div class="span12">
                <textarea id="page_editor_textarea" rows="40" placeholder="Message" class="span12"></textarea>
              </div>
            </div> 
        </div>
      </div>
      <div class="tab-pane" id="tab2">
        
        <div class="page_tools_row">
          <div id="created_datetime" class="input-append date">
            <input data-format="dd/MM/yyyy hh:mm:ss" id="created_datetime_field" type="text"></input>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
          </div>
          <div id="created_datetime_save_button" class="input-append date_button">
          <span class="add-on"><i id="icon_save" class="icon-save"></i><span>Save</span></span></div>
        </div>
      </div>
      
      <div class="tab-pane" id="tab3">
        
        <div> Image Tools</div>
      
      </div>
      
    </div>
  </div>
</div>


<div class="row-fluid">
  <div class="span12">
    
  </div>
</div>

{% endif %}
{% endblock MAIN_CONTAINER_BLOCK %}

{% block SCRIPTS_BLOCK %}

  {% verbatim %}
  
  {% endverbatim%}

<script src="{% static "ejs/ejs.js" %}"></script>
<script src="{% static "yacms/js/page_editor.js" %}"></script>
<script src="{% static "yacms/bootstrap-datetimepicker-0/js/bootstrap-datetimepicker.min.js" %}">
<script type="text/javascript"
     src="http://tarruda.github.com/bootstrap-datetimepicker/assets/js/bootstrap-datetimepicker.pt-BR.js">
    </script>

<script type="text/javascript">
  $(function(){$('#created_datetime').datetimepicker({ language: 'pt-BR' }); });
  $(function(){$('#modified_datetime').datetimepicker({ language: 'pt-BR' }); });
</script>     
  <!--<script>-->
  <!--$(function() {-->
    <!--$( "#tabs" ).tabs();-->
  <!--});-->
  <!--</script>-->
{% endblock SCRIPTS_BLOCK %}
    