.pageadmin_menu_container {
    background:#777777;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}



.pageadmin_buttons {
    display: inline-block;
    float: left;
    background: #FF0000;


}
​

.pageadmin_status {
    display: inline-block;
    float: right;
    background: #777777;

}

.pageadmin_checkbox {

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    float: right;
    background:#777777;

}


#gallery .thumbnail{
    width:150px;
    height: 150px;
    float:left;
    margin:2px;
}
#gallery .thumbnail img{
    width:150px;
    height: 150px;
    float: left;
}

.yacms_thumbnail {
    width:150px;
    height: 150px;
    float:left;
    margin:2px;

}

.yacms_upload_panel {
    float: left;

}
