h1 { 

    font-size: 1.7em;
}



/**
Edit Icon at the bottom of the page.
**/

#edit_button{

    position:fixed;
    bottom:10px;
    left:10px;
    z-index:2049;
    width:30px;
    height:30px;
    
}

#edit_button:hover {
    cursor: pointer;
}

