h1 { 

    font-size: 1.7em;
}

.page-content {

    
}

#page-content h2 {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
}



#page-content h2 {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
}


#page-content h3 {
    font-size: 1.3rem;
    margin: 0 0 10px 0;
}


footer {
    color: #777;
    background: #222;
    border-top: 2px solid #444;
    bottom: 0px;
    /* position: absolute; */
    width: 100%;
}

/**
Edit Icon at the bottom of the page.
**/

#edit_button{

    position:fixed;
    bottom:10px;
    left:10px;
    z-index:2049;
    width:30px;
    height:30px;
    
}

#edit_button:hover {
    cursor: pointer;
}

