           <div class="row">       
              <div class="col-sm-4">
                    <input id="createpage_title" type="text" placeholder="title" class="form-control">
              </div>
              <div class="col-sm-4">
                    <input id="createpage_slug" type="text" placeholder="slug" class="form-control">
              </div>
              <div class="col-sm-3 pad-sm">
                    <select id="createpage_pagetype_select" name="createpage_pagetype_select" type="text" class="form-control">
                      <option value="1">Single Page HTML Update</option>
                      <option value="2">Category Page</option>
                      <option value="3">MultPage Article</option>
                      <option value="4">MemberPage Article</option>
                    </select>
              </div>
              <div class="col-sm-1 pad-sm">
                    <button class="btn btn-primary float-right" type="button" id="create-cms-entry-button">Create</button>
              </div>
            </div>