

<ul class="nav nav-list">


    {% for child in parent.categories%}
    <li class="nav-header"><a href="/cms{{child.path}}">{{child.title}}</a></li>

        {% for grandchild in child.categories %}
        <li><a href="/cms{{grandchild.path}}">{{grandchild.title}}</a></li>

                         {% for greatgrandchild in grandchild.categories %}
                         <li><a href="/cms{{greatgrandchild.path}}">&nbsp; - &nbsp;{{greatgrandchild.title}}</a></li>
                         {% endfor %}
        </li>
        {% endfor %}

    {% endfor %}
</ul>

